/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, Arial, sans-serif;
    color: #3c4043;
}

img {
    width: 100%;
}

/* HEADER */
header {
    border-bottom: 1px solid grey;
}
.container-header {
    padding: 0 20px;
}

h1 {
    font-size: 22px;
    font-weight: 400;
}
header a {
    color: inherit;
    text-decoration: none;
}

.header-top img {
    padding-right: 8px;
}

.header-top{
    display: flex;
    align-items: center;
    padding: 20px 0;
}

/* main menu */
header ul {
    display: flex;
}
header li {
    list-style-type: none;
    margin-right: 20px;

}
.link-active {
    color: #3367d6;
    padding-bottom: 10px;
    border-bottom: 3px solid #3367d6;

}

/* MAIN */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 32px 0;
}
.faq h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    padding-top: 64px;
}
.faq p {
    font-size: 14px;
    line-height: 24px;
    padding-top: 20px;
}